{% extends 'base.html.twig' %}
{% block title 'Page d\'accueil' %}
{% block body %}
    <div class="mt-5 p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Ma Super Agence</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>
    <div class="container-md">
        <div class="row">
            <h2>Les derniers biens</h2>
            {% for property in properties %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}"><h5 class="card-title">{{ property.title }}</h5></a>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formatedPrice}}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}